@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVIGATION ==================================================================== */

.container {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 12rem;
}

#logo {
    font-size: 24px;
    color: #f9fAf8;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: flex;
    gap: 18px;
    font-size: 18px;
}

a:hover {
    color:lightskyblue;
}

/* WELCOME ==================================================================== */

.welcome {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 8em 12rem;
    gap: 2em;
}

.hero {
    font-size: 48px;
    font-weight:bolder;
    color: #f9fAf8;
}

.textbellow {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
    margin-top: 10;
}

.button-1 {
    width: 130px;
    padding: 8px 1rem;
    border-radius: 10px;
    background-color: #3882F6;
    color:#ffffff;
    font-size: 18px;
}

.image {
    width: 650px;
    background: linear-gradient(207deg, rgb(169, 21, 177) 0%, rgb(135, 81, 182) 38%, rgba(0,212,255,1) 100%);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px transparent;
    border-radius: 20px;
}

button:active {
    background: rgb(0, 47, 123);
}

/* CARD SECTION ==================================================================== */

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 20px;
}

.card-container {
    padding: 20px 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    background: 3882f6;
}

.square {
    width: 160px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:  10px 20px 30px 2px rgb(205, 203, 249);
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 18px;
    max-width: 300px;
}

/* Quote ====================================================================*/

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 8em 12rem;
    font-weight: 100;
}

.quote em {
    font-size: 36px;
    color: #1f2937;
}

em {
    font-style: italic;
}

#thor {
    align-self: flex-end;
    position: absolute;
    right: 30%;
    font-size: 30px;
    margin: -40px;
    font-weight: 900;
}


/* Call to action ====================================================================*/

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 15rem;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3em;
    background-color: #3882F6;
    width: 90%;
    border-radius: 12px;
}

.thick {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.button-2 {
    width: 130px;
    padding: 8px 1rem;
    border-radius: 10px;
    background-color: #3882F6;
    color:#ffffff;
    font-size: 18px;
    border-color: #ffffff;
    border: 3px solid;
}

/* Footer  ====================================================================*/

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 30px;
}

/* Done */